.controls {
    display:flex;
    justify-content:space-between;
}
.controls select{
    width:32px;
    height:25px;
}
::deep .movie-title{
    width:50%;
}
::deep .reliase-date, .genre{
    width:25%;
}